@import "tailwindcss";

body {
    background-color: #fafafa;
}

@page {
  size: A4;
  margin: 20mm 15mm;
}

@media print {
    @page {
      margin: 0;
      size: A4 portrait;
    }
    
    html, body {
      margin: 0 !important;
      padding: 0 !important;
    }  

    .print-main-hide {
      max-width: none !important;
      min-height: screen;
      padding: 0 !important;
      margin: 0 !important;
    }

    .print-btns-hide {
      display: none !important;
    }

    .print-layout-hide {
        box-shadow: none;
    }
  }
